/AgentSimulator/nbproject/private/
/AgentSimulator/build/
/AgentSimulator/dist/
/AgentSimulatorG/nbproject/private/
/AgentSimulatorG/build/
/AgentSimulatorG/dist/
/JavaTest/nbproject/private/
/JavaTest/build/
/data/tmp/
/data/phase-portrait/sim/raw-output/
private/
state-imgs/
__pycache__/
data/n-75_a-1.570_p-6.283_t-31.83098861837907_v-0.0008_d-02.08.2021_t-09.38.55/

