/AgentSimulator/nbproject/private/
/AgentSimulator/build/
/AgentSimulator/dist/
/AgentSimulatorG/nbproject/private/
/AgentSimulatorG/build/
/AgentSimulatorG/dist/
/JavaTest/nbproject/private/
/JavaTest/build/
/data/tmp/
/data/phase-portrait/sim/raw-output/
private/
state-imgs/
__pycache__/
